<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <style type="text/css">
            .media {
                border:1px solid gray;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12"/>
            </div>
            <div class="row">
                <div id="content" class="row"/>
            </div>
            <div id="footer">
                <div id="copyright">
                    <p/>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
    </body>
</html>